extends layout

block content
  h1= task.name
  p Welcome to jungle of #{task.name}
  p #{task.completed}
  form(action="/" method="POST")
    input(type="email", name="email")
    button(type="submit") Submit
  
